body, html {
  height: 100%;
}
  ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }

  #phases { width: 1600px }
  pre { margin: 0 }

  .sticker {
      position: absolute;
      margin: 0px;
      padding: 5px;
      width: 150px;
      height: 70px;
      overflow: hidden;
      border: 1px solid #f2e599;
      background: #efe199; /* Old browsers */
      background: -moz-linear-gradient(top,  #efe199 3%, #fcefa1 28%, #fcefa1 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#efe199), color-stop(28%,#fcefa1), color-stop(100%,#fcefa1)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #efe199 3%,#fcefa1 28%,#fcefa1 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #efe199 3%,#fcefa1 28%,#fcefa1 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #efe199 3%,#fcefa1 28%,#fcefa1 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #efe199 3%,#fcefa1 28%,#fcefa1 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe199', endColorstr='#fcefa1',GradientType=0 ); /* IE6-9 */
  }

  .pointerCursor {
      cursor: pointer;
  }

  .moveCursor {
      cursor: move;
  }

  a.workItemLink {
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 62px;
      left: 139px;
      text-decoration: none;
  }

  a.workItemLinkNormal {
      background: url("icons/link.png") no-repeat;
  }

  a.workItemLinkHover {
      background: url("icons/link_go.png") no-repeat;
  }

  #board { background-color: #ddc; width: 1600px;}

  #stickerPropertiesDialog { hidden: true; }
  .stickerPropertiesDialogClass { z-index:999999 }